@import '../index.scss';

@each $c in primary, success, warning, error, disabled {
    .nes-container.nes-container_#{$c} {
        border-color: map-get($colors, $c);
        color: map-get($colors, $c);
    }
}

@each $c in primary-shadow, success-shadow, warning-shadow, error-shadow, disabled-shadow {
    .nes-container.nes-container-filled_#{$c} {
        background-color: map-get($colors, $c);
    }
}